*{
    font-family: 'Graduate', cursive;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("assets/background.png");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 50px;
}

p{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 32px;
    line-height: 45px;
}

button{
    width: 230px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top:30px;
}

.card{
    width: 200px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url("assets/pic-1.png");
}

.card2{
    background-image: url("assets/pic-2.png");
}

.card3{
    background-image: url("assets/pic-3.png");
}

.card4{
    background-image: url("assets/pic-4.png");
}

.card5{
    background-image: url("assets/pic-5.png");
}

.card6{
    background-image: url("assets/pic-6.png");
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    font-family: 'Londrina Solid', cursive;
    color: #fff;
    text-shadow: 0 0 15px #000;
    font-size: 20px;
    line-height: 30px;
}

.card p{
    font-family: 'Fresca', sans-serif;
    text-shadow: 0 0 15px #000;
    font-style: oblique;
    font-size: 11px;
    line-height: 20px;
    position: absolute;
}

.card-p{
    font-family: 'Fresca', sans-serif;
}

#card-heading4{
    font-size: 18px;
}